.container{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.score-board{
    display:flex; 
    background-color: #a7bba0;
    border-radius: 10px;
    padding: 5px;
}